 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these       tags -->
     <title>
     Error | Stylus | AcadeMe·德明教育体验
     </title>
     <meta name="keywords" content="AcadeMe, 德明教育体验, 词汇, Stylus">
     <meta name="description" content="AcadeMe·德明教育体验 词汇分析">
     <!-- TO DO: Rewrite -->
     <link href="../static/assets/css/bootstrap.css" rel="stylesheet">  
     <link href="../static/assets/css/general.css" rel="stylesheet">    
     <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
     <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
       <link rel="icon" 
           type="image/png" 
           href="http://academechina.com/photo/favicon.png">
 
     <script src="static/assets/js/vendor/jquery.min.js"></script>
     <script src="static/assets/js/ga.js"></script>
 </head>
 <div class="container-fluid passage" style="margin:15px">
 </div>
<div class="container-fluid passage">
	<h4>Oops! Something went wrong. check the error message and edit your vocabulary list. </h4>
{{error}}
</div>

