 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these       tags -->
     <title>
     Registration | Stylus | AcadeMe·德明教育体验
     </title>
     <meta name="keywords" content="AcadeMe, 德明教育体验, 词汇, Stylus">
     <meta name="description" content="AcadeMe·德明教育体验 词汇分析">
     <!-- TO DO: Rewrite -->
     <link href="/static/assets/css/bootstrap.css" rel="stylesheet">  
     <link href="/static/assets/css/general.css" rel="stylesheet">    
     <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
     <link href="/static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
       <link rel="icon" 
           type="image/png" 
           href="/static/assets/img/favicon.png">
 
     <script src="/static/assets/js/vendor/jquery.min.js"> </script>
     <script src="/static/assets/js/ga.js"> </script>
 </head>
 
<body>
    <div class="container-fluid" style="margin-top:35px;margin-left:50px; max-width:340;">
	    <h4>Log In</h4>
             {% block content %}
 
     {% if form.errors %}
     <p>Your username and password didn't match. Please try again. Or <a href='/accounts/register/' >register</a></p>
     {% else %}
     <p>New to Stylus? <a href='/accounts/register/' >Register</a> </p>
     {% endif %}
 
     <form method="post" action="{% url 'login' %}" class='form-group'>
         {% csrf_token %}
         <div  >
                {{ form.username.label_tag }}
                {{ form.username }}
                </div>
                <div style="margin-top:10px; margin-bottom:10px;">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
 
        <input type="submit" value="login" class="btn btn-default"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
 
 {% endblock %}
    <div class='pull-right'>
                 <h4><a href='/' target='_blank' class='logo'>Stylus</a> | <a href='http://www.academechina.com'                target='_blank' class='logo'>AcadeMe</a></h4>
         </div>
    </div>
</body>
