 
	<div class="container-fluid" style="margin-top:20px;margin-left:0; max-width:640px;">
	    <h3>Settings</h3>

	{% block content %}
	{% csrf_token %}
 	<form method="post" style="position:relative;margin-top:20px;">
 		<div class="form-group">
    			{% csrf_token %}
	<p>
	<label>{{vocab_preference_form.show_cutoff.label}}</label>
	{{vocab_preference_form.show_cutoff}}
	</p>
	<p>
	<label>{{vocab_preference_form.diff_cutoff.label}}</label>
	{{vocab_preference_form.diff_cutoff}}
	</p>
	<h4 style='margin-top:20px;'>Dictionaries Preference Order</h4>
	<p>
	<label>{{vocab_preference_form.learner_pref.label}}</label>
	{{vocab_preference_form.learner_pref}}
	</p>
	<p>
	<label>{{vocab_preference_form.webster_pref.label}}</label>
	{{vocab_preference_form.webster_pref}}
	</p>
            <button type="button" id = 'submit_label' onclick="submit_pref()" class='btn-default btn' style='margin-bottom:5px;'>Save</button>
			

			
 		</div>
 	</form>

	{% endblock %}
</div>

<script>
	 function submit_pref(){
 		var csrf = $('[name="csrfmiddlewaretoken"]').val();
 		var fd = new FormData($('form')[0]);
         $.ajax({
 			headers: { "X-CSRFToken": csrf },
             url: '{% url 'preference' %}',
             type: 'POST',
             success: function(data, status){
				 $('#filled_in').html(data);
             },
 			error: function (jqXHR, exception) {
 				console.log('error');
 			},
             data:fd,
             cache: false,
             contentType: false,
             processData: false
         });
	}
</script>